---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startpagina Algoritmeregister</title>
  <link rel="icon" href="https://raw.githubusercontent.com/Algoritmeregister/algoritmeregister.github.io/redesign/img/algoritmeregister-logo-sans-text.svg">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <script type="text/javascript">
  (function(window, document, dataLayerName, id) {
  window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
  function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
  var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
  var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
  tags.async=!0,tags.src="https://apitecture.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
  !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
  })(window, document, 'dataLayer', 'e589ade3-383c-4bc6-9fdf-807577e1667c');
  </script>
  <header>
    <img src="https://raw.githubusercontent.com/Algoritmeregister/algoritmeregister.github.io/redesign/img/algoritmeregister-logo.svg"><br>
    <h1 style="font-size: 1.4em; margin-top: 20px">Startpagina Algoritmeregisters</h1>
  </header>
  <main class="cards">
    {% for card in site.data.cards %}
    <div class="card">
        <img src="{{ card.image }}">
        <div class="card__content">
            <h2>{{ card.title }}</h2>
            <p>{{ card.description }}</p>
            <p><a target="_blank" href="{{ card.url }}">{{ card.title }}</a></p>
        </div>
    </div>
    {% endfor %}
  </main>
  {% include footer.html %}
</body>
</html>
